@{
    ViewData["Title"] = "Home";
}

<section class="main-section">
    <div class="box-main-text">
        <h5>Introducing <strong style="color: #0088cc">EchoCharge Pro</strong></h5>
        <h1><b>THE CHARGER OF THE <strong style="color: #0088cc">FUTURE</strong></b></h1>
    </div>

    <div class="box-main-content">
        <div class="box-image">
            <img src="https://m.media-amazon.com/images/I/713gSAOL1dL._AC_SX425_.jpg" style="width: 400px" />
        </div>

        <div class="box-product-info">
            <h3>Next-generation <strong style="color: #0088cc">Portable Charging Station</strong> that combines smart and sustainable charging technology.</h3>

            <div class="box-rate">
                <span class="estrela" data-value="1">&#9733;</span>
                <span class="estrela" data-value="2">&#9733;</span>
                <span class="estrela" data-value="3">&#9733;</span>
                <span class="estrela" data-value="4">&#9733;</span>
                <span class="estrela" data-value="5">&#9733;</span>
                <a href="#review-section"><span style="margin-left: 8px; color: #333">Read Reviews</span></a>
            </div>
            
            <p>Compact, lightweight, and stylish, the EchoCharge Pro not only charges your devices rapidly but is also powered by solar energy and kinetic energy (from motion), making it environmentally friendly. With universal ports and wireless charging support, it accommodates a wide range of devices, such as smartphones, laptops, tablets, and wearables.</p>

            <button class="buy-btn">BUY NOW $149.99</button>
        </div>
    </div>
    
</section>

<section class="pro-section">
    <div class="box-pro-info">
        <div class="box-description">
            <h2>DO! GOOD</h2>
            <p><strong style="color: ">Eco-Friendly and Sustainable Energy</strong></p>
            <p>The EchoCharge Pro integrates solar and kinetic energy technology, allowing customers to charge their devices in an environmentally conscious way. It's a perfect option for those who value sustainability and want to reduce their carbon footprint.</p>
        </div>

        <div class="box-description">
            <h2>ANYWHERE</h2>
            <p><strong>Versatility and Convenience</strong></p>
            <p>With universal ports and wireless charging capabilities, it supports a wide range of devices—making it an essential companion for students, professionals, travelers, and adventurers. Its compact design ensures you can take it anywhere with ease.</p>
        </div>

        <div class="box-description">
            <h2>NOW</h2>
            <p><strong>Cutting-Edge Features</strong></p>
            <p>The integrated app offers real-time monitoring of energy usage and charge levels, putting control at your fingertips. Plus, its rapid charging capability means less waiting and more productivity.</p>
        </div>
    </div>
</section>

<section class="review-section" id="review-section">
    <h1 class="text-center"><strong>Customers love their EchoCharger Pro</strong></h1>

    <div class="box-review-content">
        <div class="box-review">
            <span class="estrela" data-value="1">&#9733;</span>
            <span class="estrela" data-value="2">&#9733;</span>
            <span class="estrela" data-value="3">&#9733;</span>
            <span class="estrela" data-value="5">&#9733;</span>
            <span class="estrela" data-value="4">&#9733;</span>
            <p><strong>"As a backpacker, the EchoCharge Pro was a game-changer for me. I charged my phone during a 5-day hike without worrying about finding outlets. The kinetic energy feature is brilliant!"</strong></p>
            <p>Joanna M., Canada</p>
        </div>

        <div class="box-review">
            <span class="estrela" data-value="1">&#9733;</span>
            <span class="estrela" data-value="2">&#9733;</span>
            <span class="estrela" data-value="3">&#9733;</span>
            <span class="estrela" data-value="4">&#9733;</span>
            <span class="estrela" data-value="5">&#9733;</span>
            <p><strong>"I'm a student and use the EchoCharge Pro daily. It's perfect for charging my laptop and phone during long days at school. Highly recommended, especially for its compact design."</strong></p>
            <p>Charles L., United Kingdom</p>
        </div>

        <div class="box-review">
            <span class="estrela" data-value="1">&#9733;</span>
            <span class="estrela" data-value="2">&#9733;</span>
            <span class="estrela" data-value="3">&#9733;</span>
            <span class="estrela" data-value="4">&#9733;</span>
            <span class="estrela" data-value="5">&#9733;</span>
            <p><strong>"As someone who cares about sustainability, it was love at first sight! Knowing I'm saving energy while using it is a big win for me."</strong></p>
            <p>Anna B., Brazil</p>
        </div>
     </div>        
</section>

<section class="qa-section">
    <h1 class="text-center">Your Q's and our A's</h1>
    
    <div class="qa-content-box">
        <div class="box-qa">
            <p class="question-text"><strong>Which devices can the EchoCharge Pro charge?</strong></p>
            <p class="answer-text">The EchoCharge Pro is compatible with smartphones, laptops, tablets, smartwatches, headphones, and other USB or wireless charging-enabled devices.</p>
            <hr />

            <p class="question-text"><strong>Which devices can the EchoCharge Pro charge?</strong></p>
            <p class="answer-text">The EchoCharge Pro is compatible with smartphones, laptops, tablets, smartwatches, headphones, and other USB or wireless charging-enabled devices.</p>
            <hr />

            <p class="question-text"><strong>Which devices can the EchoCharge Pro charge?</strong></p>
            <p class="answer-text">The EchoCharge Pro is compatible with smartphones, laptops, tablets, smartwatches, headphones, and other USB or wireless charging-enabled devices.</p>
            <hr />

            <p class="question-text"><strong>Which devices can the EchoCharge Pro charge?</strong></p>
            <p class="answer-text">The EchoCharge Pro is compatible with smartphones, laptops, tablets, smartwatches, headphones, and other USB or wireless charging-enabled devices.</p>
        </div>

        <div class="qa-image" >
            <img src="https://http2.mlstatic.com/D_NQ_NP_949299-MLB77702478546_072024-O.webp" />
        </div>
    </div>
</section>

<section class="banner-section">
    <p>BUY YOUR EchoCharger Pro TODAY</p>
    <h5>GET YOUR CHARGER NOW</h5>
    <button class="buy-btn">BUY NOW $149.99</button>
</section>
